body.is-boxed.has-animations.bg--white {
    background: #11103E;
}

body.is-boxed.has-animations.bg--white main#mainpage ,body.is-boxed.has-animations.bg--white main#mainprofiledetail, body.is-boxed.has-animations.bg--white .boxed-container{
    background: #11103E;
}
body.has-animations.bg--white .testimonials-head h2.sectiontitle.mt-0 ,body.has-animations.bg--white  .testimonials-head p,
body.has-animations.bg--white  div.testimonial-users .info span.name,body.has-animations.bg--white  div.testimonial-users .info span,
body.has-animations.bg--white  #mainprofiledetail .back a,body.has-animations.bg--white div#profiledetails>div.profiledescription,body.has-animations.bg--white div#profiledetails h3,body.has-animations.bg--white div#profiledetails h4{
	color:#fff;
}
.is-boxed {
    background: color(bg, 2);
}
.site-header-inner .header-brand .m-0 {
    width: 7rem;
}
.footer-brand .m-0 {
    width: 7rem;
}
.early-access-form {
    display: flex;
    width: 23rem;
}
.early-access-form .input {
margin-right: 10px;
}
.early-access-form .button-primary {
    background: #0090b9;
}
.early-access-form  .button-primary {
    color: #fff !important;
    transition: background 0.15s ease;
}
.button {
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    text-decoration: none !important;
    background-color: #fff;
    color: #0090b9 !important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
}
.footer-early-access-form {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 100%;
    margin: 0 auto;
    @include shadow;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}
div.testimonial-users {
    display: block;
    width: 100%;
}
div.testimonial-users .item {
    display: inline-block;
    max-width: 23%;
    margin: 1%;
	cursor:pointer;
}
div.testimonial-users .info {
    text-align: left;
	font-family: 'Roboto', sans-serif;
}
div.testimonial-users .info span.name {
    font-size: 20px;
    font-weight: bold;
    line-height: 11px;
    padding: 15px 2px 6px;
}
div.testimonial-users span.desgntn {
    font-size: 16px;
}
div.testimonial-users .info span {
    display: block;
    width: 100%;
}
#testimonialssection .back a{
    color: rgb(86, 86, 120);
    text-decoration: none;
    }
    #testimonialssection .back{
        display: block;
        margin-bottom: 35px;
    }
    #testimonialssection .back svg.svg-inline--fa.fa-long-arrow-alt-left.fa-w-14 {
        font-size: 10px;
        width: 15px;
        display: inline-block;
    }
#mainprofiledetail .back a{
color: rgb(86, 86, 120);
text-decoration: none;
}
#mainprofiledetail .back{
    display: block;
	margin-bottom: 35px;
	margin-top: 50px;
}
#mainprofiledetail .back svg.svg-inline--fa.fa-long-arrow-alt-left.fa-w-14 {
    font-size: 10px;
    width: 15px;
    display: inline-block;
}
#mainprofiledetail{ display:none;}
div#profiledetails {
    display: block;
    width: 100%;
}
main#mainprofiledetail {
    margin-bottom: 100px;
}
div#profiledetails > div {
    display: inline-block;
}

div#profiledetails > div.profilepic {
    max-width: 40%;
}

div#profiledetails > div.profiledescription {
    max-width: 60%;
    vertical-align: top;
    padding: 0 5%;
}

div#profiledetails img {
    max-height: 365px;
}
.testimonials {
    position: relative;
    margin-top: 50px;
}
div#profiledetails p {
font-family: 'Roboto', sans-serif;
}
div#profiledetails h4 {
    margin: 0px 0 24px 0;
	font-family: 'Lora', serif;
}

div#profiledetails h3 {
    margin-bottom: 0px;
	font-family: 'Lora', serif;
}
.testimonials-head  h2.sectiontitle.mt-0 {
    display: inline-block;
    max-width: 49%;
    width: 49%;
    vertical-align: top;
}
.footer--logo{
	max-width:300px
}
.newsletter-inner.section-newsletter a.join-today {
    float: right;
    background: #fff;
    color: #f00;
    font-weight: bold;
    padding: 2px 19px;
    border: 1px solid #f00;
    border-radius: 20px;
    cursor: pointer;
    z-index: 999;
    display: inline-block;
}
.newsletter-inner.section-newsletter {
    margin-top: 75px;
}
.site-footer-inner.has-top-divider {
    border-top: 0;
    margin-top: 10px;
}
.testimonials-head p {
    display: inline-block;
    width: 50%;
	font-family: 'Roboto', sans-serif;
}
@include media( '>medium' ) {

    .section-inner {
        padding-top: 88px;
        padding-bottom: 88px;
    }
	


    
}
@include media('<=1024px') {
div.testimonial-users .item{  max-width:31.2%}
.testimonials-head  h2.sectiontitle.mt-0 {
    display: inline-block;
    max-width: 29%;
    width: 29%;
    vertical-align: top;
}

.testimonials-head p {
    display: inline-block;
    width: 70%;
}
}
@include media('<=680px') {

    div.testimonial-users .item {
      max-width: 48%;
		margin: 3% 3px;
   }
   div.testimonial-users .info span.name {
    font-size: 18px;
	}
	div.testimonial-users span.desgntn {
		font-size: 14px;
	}
	div#profiledetails>div.profilepic {
		max-width: 100%;
	}
	div#profiledetails>div.profiledescription {
		max-width: 100%;
	}
	#mainprofiledetail .back{
		margin-bottom: 10px;
    }
    #testimonialssection .back{
		margin-bottom: 10px;
	}

    .testimonials-head  h2.sectiontitle.mt-0 {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    vertical-align: top;
}

	.testimonials-head p {
		display: inline-block;
		width: 100%;
	}
}